RewriteEngine On
RewriteRule ^img/(.*)-(.*)-(.*)-(.*)\.png$ roadsign.php?sign=$1&type=$2&number=$3&targets=$4 [NC,L]
RewriteRule ^img/(.*)-(.*)-(.*)\.png$ roadsign.php?sign=$1&type=$2&number=$3 [NC,L]